
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


body{
    font-family: "Roboto Slab", serif;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: transparent;
    max-width: 90vw;
}

.contentHeaderElements{
    display: flex;
    width: 96%;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #313D3D;
    height: 12vh;
    width: 100%;
    align-items: center;
    border-radius: 3em 3em 0 0;
}

header svg{
    cursor: pointer;
}

h1{
    font-size: 25px;
    color: #E6E6E6;
    padding-left: 20px;
}

svg{

    width: 40px;
    height: auto;
}

main{
    background-color: #E6E6E6;
    width: 100%;
    height: 80vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 2em 2em;
}

#iconNotef{
    width: 90%;
}

#iconNotef svg{
    margin: 10px;
    cursor: pointer;
}

.textIcon{
    display: flex;
    width: 100%;
    justify-content: center;
}

.textIcon h2{
    margin: 2vw;
}

.contentNavButtons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    width: 90%;
}

.contentNavButtons button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 30vw;
    border-radius:22px;
    color: #E6E6E6;
    background-color: #445267;
    box-shadow: 3px 5px 7px -3px rgba(0,0,0,0.52);
    cursor: pointer;
    font-size: 20px;
}

.contentNavButtons h2{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}




#iconNotef{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrossel-container{
    width: 90%;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #313D3D;
    padding: 30px 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.btn {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.2);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    font-size: 25px;
    border-radius: 8px;
    z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }

.btn:hover {
    background: rgba(255,255,255,0.4);
}

.slideContainer h2{
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    color: #E6E6E6;

}

.slide{
    display: flex;
    justify-content: space-between;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 0 50px;
}

.slide::-webkit-scrollbar {
    display: none;
}

.obra{
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.obra img{
    width: 40vw;
    height: 30vh;
    border-radius: 25px;
    object-fit: cover;

}

.obra span{
    background-color: rgba(0, 0, 0, 0.5); 
    color: #E6E6E6;
    padding: 5px;
    opacity: 0.5;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
