@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


body{
    font-family: "Roboto Slab", serif;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: transparent;
    max-width: 90vw;
}

.contentHeaderElements{
    display: flex;
    width: 96%;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #313D3D;
    height: 12vh;
    width: 100%;
    align-items: center;
    border-radius: 3em 3em 0 0;
}

header svg{
    cursor: pointer;
}

h1{
    font-size: 25px;
    color: #E6E6E6;
    padding-left: 20px;
}

svg{

    width: 40px;
    height: auto;
}

main{
    background-color: #E6E6E6;
    width: 100%;
    height: 80vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 2em 2em;
    position: relative;
}

.high{
    display: flex;
    justify-items: center;
    justify-content: left;
    width: 90%;
    background-color: lightblue;
}

.highSobre{
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 10vh;
    background-color: #E6E6E6;
    border-radius: 20px;
    position: absolute;
    top: 1px;

}

.iconHigh{
    display: flex;
    justify-items: center;
    justify-content: center;
    width: auto;
    height: 5vh;
    position: absolute;
    top: 1px;
    cursor: pointer;
}

.iconHigh svg{
    width: 10vw;
}

#textHigh{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

#textHigh h2{
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding: 3px 3px 3px 3px;
}

.corpo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #313D3D;
    width: 90%;
    height: 85%;
    border-radius: 2em 2em 2em 2em;
}

.corpoLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:80%;
}

span{
    color: #E6E6E6;
}

.dados{
    display: flex;
    flex-direction: column;
}

.dadosIntern{
    width: 40vw;
    height: 6vh;
    border-radius: 13px;
    background-color: #E6E6E6;
}

.tabeladiv{
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 30vh;
    border-radius: 13px;
    background-color: #E6E6E6;
}

.tabeladiv table{
    border-collapse: collapse;
    width: 90%;
}

th{
    padding: 8px;
    border-bottom: 2px solid #000000;
}

td{
    text-align: center;
}

.checkbox input {
    display: none;
}

.checkbox span{
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 3.5px solid #445267;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.checkbox input:checked + span {
    background-color: #445267;
    border-color: #445267;
}

.corpoRight{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:80%;
}

img{
    width: 25vw;
    height: calc(2*width);
}

.continue{
    display: flex;
    width: 30vw;

    background-color: #E6E6E6;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    border-radius: 2em 2em 2em 2em;
    position: absolute;
    bottom: 1px;
}
button{
    background-color: transparent;
    justify-items: center;
    border: none;
    height: 10vh;
    width: 100%;
    cursor: pointer;
}

button:hover{
    color: #E6E6E6;
    background-color: rgba(255,255,255,0.2);
    box-shadow: -3px 7px 5px -3px rgb(0, 0, 0);
    border-radius: 2em 2em 2em 2em;
}

button h2{
    font-size: 25px;
    font-weight: 400;
    color: #313D3D;
}